/* variabili */
:root {
    --bg-blue: #2C3E50;
    --bg-green: #1ABC9C;
    --bg-white: white;
    --bg-light-blue: #3A546D;
    --bg-black: black;
}
/* variabili */

/* Sfondi della pagina */
.bg-blue {
    background-color: var(--bg-blue);
}

.bg-green {
    background-color: var(--bg-green);
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-light-blue {
    background-color: var(--bg-light-blue);
}

.bg-black {
    background-color: var(--bg-black);
}
/* Sfondi della pagina */

/* colori del testo e delle hr  */
.color-text-white {
    color: var(--bg-white);
}

.color-text-green {
    color: var(--bg-green);
}
/* colori del testo e delle hr  */

/* classi generiche personali per la gestione degli elementi  */
.flex {
    display: flex;
}

.width-10 {
    width: 10%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.margin-center {
    margin: 0 auto;
}

.padding-container {
    padding: 1em;
}

.box-100 {
    width: 100%;
}

.page-separator .horizontal-role {
    display: block;
    width: 100px;
    border: 0;
    border-top: 5px solid;
    border-radius: 2px;
    opacity: 100%;
}

.horizontal-role.hr-color-white {
    border-color: var(--bg-white);
}

.horizontal-role.hr-color-blue {
    border-color: var(--bg-light-blue);
}
/* classi generiche personali per la gestione degli elementi  */

/* gestione degli elementi dell'header  */
.row .col-6 h2 {
    font-size: 100%;
}

.container .row .col-6:hover a {
    color: var(--bg-white);
}

.col-6 .list-inline .list-inline-item:hover a {
    color: var(--bg-green);
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
/* gestione degli elementi dell'header  */

/* gestione degli elementi del jumbotron  */
.jumboimg-container img {
    width: 20%;
}
/* gestione degli elementi del jumbotron  */

/* gestione delgi elementi della sezione portfolio */
.col-10 .row .col-12 img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.contenitore-bottone-play {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
    font-size: 4em;
    border-radius: 5px;
    transition: 2s;
}

.col-10 .row .col-12:hover .contenitore-bottone-play  {
    display: flex;
    background-color: var(--bg-green); 
}
/* gestione delgi elementi della sezione portfolio */

/* gestione degli elementi della sezione about */
.col-12 button {
    color: var(--bg-white);
    background-color: var(--bg-green);
}

.col-12 button a:hover {
    color: var(--bg-white);
}
/* gestione degli elementi della sezione about */

/* gestione degli elementi del footer  */
.social  {
    border: 1px solid white;
    border-radius: 50%;
}

.social:hover  {
    background-color: var(--bg-white);
    cursor: pointer;
}

.social:hover a {
    color: var(--bg-black);
}

.link-homepage:hover a {
    color: var(--bg-green);
}
/* gestione degli elementi del footer  */