:root {
    --bg-blue: #2C3E50;
    --bg-green: #1ABC9C;
    --bg-white: white;
    --bg-light-blue: #3A546D;
    --bg-black: black;
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-green {
    background-color: var(--bg-green);
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-light-blue {
    background-color: var(--bg-light-blue);
}

.bg-black {
    background-color: var(--bg-black);
}

.blue-border {
    border: 1px solid blue;
}

.height-50px {
    height: 50px;
}

.height-150px {
    height: 150px;
}

.height-200px {
    height: 200px;
}

.height-250px {
    height: 250px;
}

.height-300px {
    height: 300px;
}

.width-10 {
    width: 10%;
}

.width-50 {
    width: 50%;
}

.margin-center {
    margin: 0 auto;
}

.padding-container {
    padding: 1em;
}

.box-100 {
    width: 100%;
} 

@media screen and (max-width: 575.98px) {
    
    
}