/* variabili */
:root {
    --bg-blue: #2C3E50;
    --bg-green: #1ABC9C;
    --bg-white: white;
    --bg-light-blue: #3A546D;
    --bg-black: black;
}
/* variabili */

/* Sfondi della pagina */
.bg-blue {
    background-color: var(--bg-blue);
}

.bg-green {
    background-color: var(--bg-green);
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-light-blue {
    background-color: var(--bg-light-blue);
}

.bg-black {
    background-color: var(--bg-black);
}
/* Sfondi della pagina */

.blue-border {
    border: 1px solid blue;
}

.color-text-white {
    color: var(--bg-white);
}

.flex {
    display: flex;
}

.width-10 {
    width: 10%;
}

.width-50 {
    width: 50%;
}

.margin-center {
    margin: 0 auto;
}

.padding-container {
    padding: 1em;
}

.box-100 {
    width: 100%;
} 

.row .col-6 h2 {
    font-size: 100%;
}

.container .row .col-6:hover a {
    color: var(--bg-white);
}

.col-6 .list-inline .list-inline-item:hover a {
    color: var(--bg-green);
}

.page-separator hr {
    width: 75px;
    height: 20px;
}